<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">

window.onload = function() {
	// setup the button click
    // document.getElementById("deleteUser").onclick = function() {
	// 	deleteUser()
    // };
    // document.getElementById("pollStatus").onclick = function() {
	// 	pollStatus()
    // };
    var testForm = document.getElementById('test-form');
    testForm.onsubmit = function(event) {
        createClass()
        event.preventDefault();
    }
    document.getElementById("back").onclick = function() {
		backHome()
    };
    document.getElementById("user").onclick = function() {
		backUser()
    };
}

function backUser() {
	location.href = "user"
event.preventDefault();
}

function backHome() {
	location.href = "home"
event.preventDefault();
}

function createClass() {
    var formData = new FormData(document.getElementById('test-form'));
    console.log(formData)
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "http://localhost:5000/createClass");
    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhttp.send(JSON.stringify({"user": formData.get('user'), "className": formData.get('class')}));
    xhttp.onreadystatechange = function() {
        if (xhttp.status == 200) {
            console.log(xhttp.responseText);
        }
    }
    event.preventDefault();
}

// function deleteUser() {
//     var xhttp = new XMLHttpRequest();
//     xhttp.open("POST", "http://localhost:5000/deleteUser");
//     xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
//     xhttp.send(JSON.stringify({"user": "alex"}));
//     xhttp.onreadystatechange = function() {
//         if (xhttp.status == 200) {
//             console.log(xhttp.responseText);
//         }
//     }
//     event.preventDefault();
// }

// function pollStatus() {
//     var xhttp = new XMLHttpRequest();
//     xhttp.open("GET", "http://localhost:5000/pollStatus/alex/math");
//     xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
//     xhttp.send();
//     xhttp.onreadystatechange = function() {
//         if (xhttp.status == 200) {
//             console.log(xhttp.responseText);
//         }
//     }
//     event.preventDefault();
// }

</script>
<!-- <button type=button id="createClass">createClass</button>
<button type=button id="deleteUser">deleteUser</button>
<button type=button id="pollStatus">pollStatus</button> -->

<form id='test-form'>
    User :  <input name='user'><br>
    Class: <input name='class'><br>
    <input type='submit'>
</form>
<button type=button id="user">Back</button>
<button type=button id="back">Home</button>
