<script src="https://apis.google.com/js/platform.js" async defer></script>
<h1 style="text-align:center"><font face = "impact" size = "10">UT Clicker</h1></font>
<html>
<head>
  <meta name="google-signin-client_id" content="956189670156-ultqqa3u01oc7t4756nsgis00o6fob6i.apps.googleusercontent.com">
</head>
<body>
  <div id="my-signin2"></div>
  <script>
	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function () {
		console.log('User signed out.');
		});
	}
    function onSuccess(googleUser) {
      	console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
		var id_token = googleUser.getAuthResponse().id_token;
		var xhr = new XMLHttpRequest();
		xhr.open('GET', 'http://localhost:5000/validate/tokensignin/' + id_token);
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.onload = function() {
		console.log('Signed in as: ' + xhr.responseText);
		var data = xhr.responseText
		var json = JSON.parse(data);
		window.location.href = json.redirect;
		};
		xhr.send();
    }
    function onFailure(error) {
      	console.log(error);
    }
    function renderButton() {
		gapi.signin2.render('my-signin2', {
			'scope': 'profile email',
			'width': 240,
			'height': 50,
			'longtitle': true,
			'theme': 'dark',
			'onsuccess': onSuccess,
			'onfailure': onFailure
		});
	}
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  <a href="#" onclick="signOut();">Sign out</a>
</body>
</html>