<html>
<head>
  <meta name="google-signin-client_id" content="956189670156-ultqqa3u01oc7t4756nsgis00o6fob6i.apps.googleusercontent.com">
</head>
<body>
  <script>
    window.onload = function() {
        document.getElementById("settings").onclick = function() {
        window.location.href = '/userSettings'
        };
    }

    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
        var auth2 = gapi.auth2.getAuthInstance();
        var profile = auth2.currentUser.get().getBasicProfile();
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:5000/userInfo/' + profile.getId());
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
        };
        xhr.send();
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
  <button type=button id="settings">User Settings</button>
</body>
</html>