<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
window.onload = function() {
    document.getElementById("back").onclick = function() {
		backHome()
    };

    document.getElementById("createClass").onclick = function() {
		createClass()
    };

    document.getElementById("poll").onclick = function() {
		poll()
    };
}
function backHome() {
	location.href = "home"
event.preventDefault();
}

function createClass() {
	location.href = "createClass"
event.preventDefault();
}

function poll() {
	location.href = "poll"
event.preventDefault();
}

</script>
<button type=button id="back">Home</button>
<button type=button id="poll">Poll Status</button>
<button type=button id="createClass">Create Class</button>